################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/assessment-api-developer/v17
/.vs/assessment-api-developer/FileContentIndex
/assessment-api-developer/bin/assessment-platform-developer.dll
/assessment-api-developer/bin/assessment-platform-developer.pdb
/assessment-api-developer/bin
/assessment-api-developer/obj/Debug/assessment-api-developer.csproj.AssemblyReference.cache
/assessment-api-developer/obj/Debug/assessment-api-developer.csproj.CoreCompileInputs.cache
/assessment-api-developer/obj/Debug/assessment-api-developer.csproj.FileListAbsolute.txt
/assessment-api-developer/obj/Debug/assessment-platform-developer.dll
/assessment-api-developer/obj/Debug/assessment-platform-developer.pdb
/assessment-api-developer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/assessment-api-developer/obj/Debug
/assessment-api-developer.Tests/obj/Debug/assessment-api-developer.Tests.csproj.AssemblyReference.cache
/assessment-api-developer.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/packages
/assessment-api-developer.Tests/.vs
/assessment-api-developer.Tests/bin/Debug/assessment-platform-developer.dll
/assessment-api-developer.Tests/bin/Debug/assessment-platform-developer.dll.config
/assessment-api-developer.Tests/bin/Debug/assessment-platform-developer.pdb
/assessment-api-developer.Tests/bin/Debug/assessment-platform-developer.Tests.dll
/assessment-api-developer.Tests/bin/Debug/assessment-platform-developer.Tests.pdb
/assessment-api-developer.Tests/bin/Debug/Newtonsoft.Json.Bson.dll
/assessment-api-developer.Tests/bin/Debug/Newtonsoft.Json.Bson.pdb
/assessment-api-developer.Tests/bin/Debug/Newtonsoft.Json.Bson.xml
/assessment-api-developer.Tests/bin/Debug/Newtonsoft.Json.dll
/assessment-api-developer.Tests/bin/Debug/Newtonsoft.Json.xml
/assessment-api-developer.Tests/bin/Debug/System.Buffers.dll
/assessment-api-developer.Tests/bin/Debug/System.Buffers.xml
/assessment-api-developer.Tests/bin/Debug/System.Memory.dll
/assessment-api-developer.Tests/bin/Debug/System.Memory.xml
/assessment-api-developer.Tests/bin/Debug/System.Net.Http.Formatting.dll
/assessment-api-developer.Tests/bin/Debug/System.Net.Http.Formatting.xml
/assessment-api-developer.Tests/bin/Debug/System.Numerics.Vectors.dll
/assessment-api-developer.Tests/bin/Debug/System.Numerics.Vectors.xml
/assessment-api-developer.Tests/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/assessment-api-developer.Tests/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/assessment-api-developer.Tests/bin/Debug/System.Threading.Tasks.Extensions.dll
/assessment-api-developer.Tests/bin/Debug/System.Threading.Tasks.Extensions.xml
/assessment-api-developer.Tests/bin/Debug/System.Web.Cors.dll
/assessment-api-developer.Tests/bin/Debug/System.Web.Http.Cors.dll
/assessment-api-developer.Tests/bin/Debug/System.Web.Http.Cors.xml
/assessment-api-developer.Tests/bin/Debug/System.Web.Http.dll
/assessment-api-developer.Tests/bin/Debug/System.Web.Http.WebHost.dll
/assessment-api-developer.Tests/bin/Debug/System.Web.Http.WebHost.xml
/assessment-api-developer.Tests/bin/Debug/System.Web.Http.xml
/assessment-api-developer.Tests/obj/Debug/assessment-api-developer.Tests.csproj.CoreCompileInputs.cache
/assessment-api-developer.Tests/obj/Debug/assessment-api-developer.Tests.csproj.FileListAbsolute.txt
/assessment-api-developer.Tests/obj/Debug/assessment-platform-developer.Tests.dll
/assessment-api-developer.Tests/obj/Debug/assessment-platform-developer.Tests.pdb
/packages/Newtonsoft.Json.12.0.2/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.2/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.2/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.2/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.2/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.2/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.2/.signature.p7s
/packages/Newtonsoft.Json.12.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.2/LICENSE.md
/packages/Newtonsoft.Json.12.0.2/Newtonsoft.Json.12.0.2.nupkg
/packages/Newtonsoft.Json.12.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.12.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.12.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
